.sidebarChat {
  display: flex;
  align-items: center;
  padding: 20px;
  border-right: 1px solid lightgray;
  cursor: pointer;
  &:hover {
    background-color: #3e93fd;
    color: white;
  }
  &__info {
    margin-left: 15px;
    position: relative;
    width: 100%;

    & > small {
      position: absolute;
      top: 5px;
      right: 0;
    }
  }

}